@import 'mains';

//variables
$darkGray: #393939;
$lightGray: #787878;
$marginInit: 18%;
$marginMob: 4%;

.topCont{
    width: 100%;
    background: white;
    height: 400px;
    .topImg{
        background: url('imgs/extra/nemtop.jpg')no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        max-width: 990px;
        height: 400px;
        margin: 0 auto;
    }
}

.flexMain{
    display: flex;
    padding-left: $marginInit;
    padding-right: $marginInit;
    margin-top: 30px;
    height: 400px;
    .text{
        flex-basis: 50%;
        max-width: 500px;
        margin-right: 50px;
        align-self: center;
        h1{
            color: $darkGray;
            margin-bottom: 0px;
        }
        p{
            color: $lightGray;
            line-height: 1.6em;
            transition-duration: .2s;
            margin-top: 10px;
        }
    }
    .imgUp{
        background: url('imgs/extra/both.jpg')no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        flex-basis: 50%;
        margin-left: 50px;
        transition-duration: .3s;
        &:hover{
            transform: translateY(-10px);
            cursor: pointer;
            opacity: .9;
            }
    }
    .imgUp3{
        background: url('imgs/extra/eng.jpg')no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        flex-basis: 50%;
        margin-left: 50px;
        transition-duration: .3s;
        &:hover{
            transform: translateY(-10px);
            cursor: pointer;
            opacity: .9;
            }
    }
}
.zoomImg1, .zoomImg2, .zoomImg3{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    display: none;
    }
    .zImg1{
        background: url('imgs/extra/both.jpg')no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 100%;
        max-height: 800px;
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .zImg2{
        background: url('imgs/extra/ger.jpg')no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 800px;
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .zImg3{
        background: url('imgs/extra/eng.jpg')no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 660px;
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
.flip{
    flex-direction: row-reverse;
    margin-top: 0px;
    .text2{
        flex-basis: 50%;
        max-width: 500px;
        align-self: center;
        margin-left: 50px;
        h1{
            color: $darkGray;
            margin-bottom: 0px;
        }
        p{
            color: $lightGray;
            line-height: 1.6em;
            transition-duration: .2s;
            margin-top: 10px;
        }
    }
    .imgUp2{
        background: url('imgs/extra/ger.jpg')no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        flex-basis: 50%;
        margin-right: 50px;
        transition-duration: .3s;
        &:hover{
            transform: translateY(-10px);
            cursor: pointer;
            opacity: .9;
            }
    }
}

.init{
    opacity: 0;
    transform: translateY(40px);
    transition: .6s all ease-in-out;
}
.intro{
    opacity: 1;
    transform: translateY(0px);
}
.lastImg{
    background: url('imgs/extra/bookall.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-top: 20px;
    width: 1000px;
    height: 250px;
    max-height: 250px;
}

@media screen and (max-width: 1500px) {
.flexMain{
    height: 230px;
    margin-top: 100px;
    .imgUp, .imgUp2, .imgUp3{
            background-size: cover;
        }
    }
}
@media screen and (max-width: 1200px) {
    .flexMain{
        padding-left: $marginMob;
        padding-right: $marginMob;
    }
}
@media screen and (max-width: 800px) {
    .flexMain{
        margin-top: 10px;
        flex-direction: column;
        height: unset;
        .text{
            margin: 0;
            align-self: unset;
            max-width: unset;
        }
        .text2, .init{
            align-self: unset;
            max-width: unset;
            margin: 0;
            margin-top: 30px;
        }
        .imgUp, .imgUp2, .imgUp3{
            height: 300px;
            margin: 0;
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 430px) {
    .flexMain{
        .text2, .init{
            margin-top: 20px;
        }
        .imgUp, .imgUp2, .imgUp3{
            height: 200px;
            margin-top: 20px;
        }
    }
}