* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', Helvetica, sans-serif;
  }
  p, h1, h2{
    text-rendering: optimizeLegibility !important;
  }

  $darkGray: #393939;
  $lightGray: #787878;
  $marginInit: 18%;
  $marginMob: 4%;
  
  html body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  //navigation animation
  .origNav{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1000;
    background-color: transparent;
    transition-duration: .5s;
  }
  .blackNav{
    background-color: $darkGray;
  }
  .whiteOut{
    color: white;
  }

  .logo {
    float: left;
    padding: 8px;
    left: 60px;
    margin-top: 15px;
    position: fixed;

    a {
      color: $darkGray;
      font-weight: 700;
      font-size: 18px;
      text-decoration: none;
      .mainLogo{
        background: url('imgs/logo_define.svg')no-repeat;
        width: 85px;
        height: 30px;
      }
    }
  }
  //menu items
  nav ul {
    float: right;
    margin-top: 35px;
    position: fixed;
    right: 60px;
    z-index: 999999;
    li {
      display: inline-block;
      float: left;
      &:not(:first-child) {
        margin-left: 48px;
      }
      &:last-child {
        margin-right: 24px;
      }
      a {
        display: inline-block;
        outline: none;
        color: $darkGray;
        text-decoration: none;
        font-size: .85em;
        font-weight: 900;
        transition-duration: .2s;
        &:hover{
            color: white;
        }
      }
    }
  }
//main image top
.mainImg{
    background: url('imgs/main_bg.jpg')no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 500px;
    width: 100%;
    .tagline{
        position: absolute;
        top: 230px;
        font-size: 3em;
        left: $marginInit;
        color: $darkGray;
        left: 18%;
        line-height: 1.3em;
    }
}
//title section
.aboutUs{
    margin-top: 90px;
    margin-left: $marginInit;
    margin-right: $marginInit;
    .header{
        color: $darkGray;
        font-size: 1.5em;
    }
    .par{
        color: $lightGray;
        margin-top: 10px;
        margin-bottom: 30px;
        max-width: 600px;
    }
    a{
        text-align: center;
        background: none;
        border: solid 1px $lightGray;
        padding: 6px 24px 6px 24px;
        border-radius: 50px;
        text-decoration: none;
        color: $darkGray;
        transition-duration: .2s;
        span{
            color: transparent;
            padding-left: 0px;
            transition-duration: .2s;
            i{
                position: absolute;
                padding-top: 3px;
                padding-right: 0px;
            }
        }
        &:hover{
            color: $darkGray;
            border: solid 1px $darkGray;
            padding: 6px 20px 6px 24px;
            span{
                color: $darkGray;
                padding-left: 18px;
                padding-right: 5px;
            }
        }
    }
}
//labzone case study
.caseStudy{
    margin-top: 100px;
    width: 100%;
    height: 400px;
    background: url('imgs/labzone_cs.jpg')no-repeat;
    background-size: cover;
    .containCs{
        margin-left: $marginInit;
        margin-right: $marginInit;
        .linkCs{
            padding-top: 50px;
            color: $lightGray;
            a{
                text-decoration: none;
                color: $lightGray;
                transition-duration: .2s;
                &:hover{
                    color: $darkGray;
                }
            }
        }
        .par{
            color: $darkGray;
            max-width: 400px;
            margin-top: 80px;
            margin-bottom: 80px;
        }
        .btnCs{
            text-align: center;
            background: none;
            border: solid 1px $lightGray;
            padding: 6px 24px 6px 24px;
            border-radius: 50px;
            text-decoration: none;
            color: $darkGray;
            transition-duration: .2s;
            span{
                color: transparent;
                padding-left: 0px;
                transition-duration: .2s;
                i{
                    position: absolute;
                    padding-top: 3px;
                    padding-right: 0px;
                }
            }
            &:hover{
                color: $darkGray;
                border: solid 1px $darkGray;
                padding: 6px 20px 6px 24px;
                span{
                    color: $darkGray;
                    padding-left: 18px;
                    padding-right: 5px;
                }
            }
        }
    }
    .labzoneCsPhone{
        position: absolute;
        top: 700px;
        width: 400px;
        right: $marginInit;
    }
}
//services
.services{
    margin-top: 120px;
    .containSer{
        margin-top: 100px;
        margin-left: $marginInit;
        margin-right: $marginInit;
        .header{
            color: $darkGray;
            font-size: 1.5em;
        }
        .serFlex{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 20px;
            .servCluster{
                display: flex;
                flex-direction: row;
                .servUnit{
                    flex-basis: 50%;
                    .subhead{
                        color: $darkGray;
                        font-size: 1.2em;
                        font-weight: 600;
                    }
                    .par{
                        color: $lightGray;
                        max-width: 360px;
                    }
                }
            }
        }
    }
}
//testimonials
.testimonials{
    background: url('imgs/hustle.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-top: 90px;
}
//contact
.contact{
    .containCont{
        margin-top: 100px;
        margin-left: $marginInit;
        margin-right: $marginInit;
        .header{
            color: $darkGray;
            font-size: 1.5em;
        }
        .contForm{
            display: flex;
            flex-direction: row;
            form{
                display: flex;
                flex-direction: column;
                flex-basis: 50%;
                padding-right: 20%;
                .input-subject, .input-email, textarea{
                    margin-top: 20px;
                    border: #aaa 1px solid;
                    padding: 9px 8px 8px 8px;
                    border-radius: 3px;
                }
                label{
                    color: $lightGray;
                }
                #submit{
                    width: 150px;
                    text-align: center;
                    background: none;
                    border: solid 1px $lightGray;
                    padding-top: 7px;
                    padding-bottom: 6px;
                    border-radius: 50px;
                    font-size: 1em;
                    text-decoration: none;
                    color: $darkGray;
                    transition-duration: .2s;
                    margin: 0 auto;
                    margin-top: 20px;
                    &:hover{
                        color: $darkGray;
                        border: solid 1px $darkGray;
                        cursor: pointer;
                    }
                }
            }
            .contInfo{
                flex-basis: 50%;
                .subhead{
                    color: $darkGray;
                    font-size: 1.2em;
                    font-weight: 600;
                }
                .par{
                    color: $lightGray;
                    margin-top: 10px;
                }
            }
        }
    }
}
//footer
footer{
    background: #d4dcde;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    p{
        margin: 0;
        color: $darkGray;
        font-size: .85em;
        padding: 8px 0px 7px 0px;
    }
}

/////////////////////////////MEDIAQUERIES///////////////////////////////////
/////////////////////////////MEDIAQUERIES///////////////////////////////////
/////////////////////////////MEDIAQUERIES///////////////////////////////////
  @media screen and (max-width: 864px) {
    .logo {
      padding: 0;
      margin-top: 18px;
    }
    .nav-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: #fff;
      opacity: 0;
      transition: all 0.2s ease;
      ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
          &:nth-child(1) a {
            transition-delay: 0.2s;
          }
          &:nth-child(2) a {
            transition-delay: 0.3s;
          }
          &:nth-child(3) a {
            transition-delay: 0.4s;
          }
          &:nth-child(4) a {
            transition-delay: 0.5s;
          }
          &:not(:first-child) {
            margin-left: 0;
          }
          a {
            padding: 10px 24px;
            opacity: 0;
            color: $darkGray;
            font-size: .85em;
            transform: translateX(-20px);
            transition: all 0.2s ease;
          }
        }
      }
    }
    .nav-btn {
      position: fixed;
      right: 10px;
      top: 10px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 9999;
      border-radius: 50%;
      i {
        display: block;
        width: 20px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        margin-left: 14px;
        &:nth-child(1) {
          margin-top: 16px;
        }
        &:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
        }
        &:nth-child(3) {
          margin-top: 4px;
        }
      }
    }
  }
  
  #nav:checked {
    + .nav-btn {
      transform: rotate(45deg);
      i {
        background: #000;
        transition: transform 0.2s ease;
        &:nth-child(1) {
          transform: translateY(6px) rotate(180deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-6px) rotate(90deg);
        }
      }
    }
    ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
      ul li a {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  
  .hidden {
    display: none;
  }