* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    scroll-behavior: smooth;
  }
  p, h1, h2{
    text-rendering: optimizeLegibility !important;
  }
  .hidden {
    display: none;
  }
  $darkGray: #393939;
  $lightGray: #787878;
  $marginInit: 18%;
  $marginMob: 4%;
  
  html body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  //navigation animation
  .origNav{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1000;
    background-color: transparent;
    transition-duration: .5s;
  }
  .blackNav{
    background-color: $darkGray;
    ul{
      li{
        a{
          &:hover{
            color: #ccc;
          }
        }
      }
    }
  }
  .whiteOut{
    color: white;
  }
  .menuFix{
    transition-duration: .5s;
    margin-top: 20px;
  }
  .marginLogoFix{
    margin-top: 7px !important;
  }

  .logo {
    float: left;
    padding: 8px;
    left: 60px;
    margin-top: 15px;
    position: fixed;
    transition-duration: .5s;
    a {
      color: $darkGray;
      font-weight: 700;
      font-size: 18px;
      text-decoration: none;
      .mainLogo{
        width: 85px;
        height: 30px;
      }
    }
  }
  //menu items
  nav ul {
    float: right;
    margin-top: 35px;
    transition-duration: .5s;
    position: fixed;
    right: 60px;
    z-index: 999999;
    li {
      display: inline-block;
      float: left;
      &:not(:first-child) {
        margin-left: 48px;
      }
      &:last-child {
        margin-right: 24px;
      }
      a {
        display: inline-block;
        outline: none;
        color: $darkGray;
        text-decoration: none;
        font-size: .85em;
        font-weight: 900;
        transition-duration: .2s;
        &:hover{
            color: white;
        }
      }
    }
  }
//main image top
.mainImg{
    background: url('imgs/main_bg.jpg')no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 500px;
    width: 100%;
    .tagline{
        position: absolute;
        top: 230px;
        font-size: 3em;
        left: $marginInit;
        color: #009daf;
        left: 18%;
        line-height: 1.3em;
    }
}
//title section
.aboutUs{
    margin-top: 90px;
    margin-left: $marginInit;
    margin-right: $marginInit;
    .header{
      br{
        display: none;
      }
        color: $darkGray;
        font-size: 1.5em;
    }
    .par{
        color: $lightGray;
        margin-top: 10px;
        margin-bottom: 30px;
        max-width: 600px;
    }
    a{
        text-align: center;
        background: none;
        border: solid 1px $lightGray;
        padding: 6px 24px 6px 24px;
        border-radius: 50px;
        text-decoration: none;
        color: $darkGray;
        transition-duration: .2s;
        span{
            color: transparent;
            padding-left: 0px;
            transition-duration: .2s;
            i{
                position: absolute;
                padding-top: 3px;
                padding-right: 0px;
            }
        }
        &:hover{
            color: $darkGray;
            border: solid 1px $darkGray;
            padding: 6px 20px 6px 24px;
            span{
                color: $darkGray;
                padding-left: 18px;
                padding-right: 5px;
            }
        }
    }
}
//labzone case study
.caseStudy{
    margin-top: 100px;
    width: 100%;
    height: 400px;
    background: url('imgs/labzone_cs.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    .containCs{
        margin-left: $marginInit;
        margin-right: $marginInit;
        .linkCs{
            padding-top: 50px;
            color: white;
            a{
                text-decoration: none;
                color: white;
                transition-duration: .2s;
                &:hover{
                    color: $darkGray;
                }
            }
        }
        .par{
            color: white;
            max-width: 400px;
            margin-top: 80px;
            margin-bottom: 80px;
        }
        .btnCs{
            text-align: center;
            background: none;
            border: solid 1px white;
            padding: 6px 24px 6px 24px;
            border-radius: 50px;
            text-decoration: none;
            color: white;
            transition-duration: .2s;
            span{
                color: transparent;
                padding-left: 0px;
                transition-duration: .2s;
                i{
                    position: absolute;
                    padding-top: 3px;
                    padding-right: 0px;
                }
            }
            &:hover{
                color: white;
                border: solid 1px white;
                padding: 6px 20px 6px 24px;
                span{
                    color: white;
                    padding-left: 18px;
                    padding-right: 5px;
                }
            }
        }
    }
    .labzoneCsPhone{
        position: absolute;
        top: 700px;
        width: 400px;
        right: $marginInit;
        transition-duration: .5s;
    }
}
//services
.services{
    margin-top: 120px;
    .containSer{
        margin-top: 100px;
        margin-left: $marginInit;
        margin-right: $marginInit;
        .header{
            color: $darkGray;
            font-size: 1.5em;
        }
        .serFlex{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 20px;
            .servCluster{
                display: flex;
                flex-direction: row;
                .servUnit{
                    flex-basis: 50%;
                    .subhead{
                        color: $darkGray;
                        font-size: 1.2em;
                        font-weight: 600;
                    }
                    .par{
                        color: $lightGray;
                        max-width: 360px;
                    }
                }
            }
        }
    }
}
//testimonials
.testimonials{
    background: url('imgs/hustle.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    .testimonialsLogos{
      background: url('imgs/testimonials_logos.png')no-repeat;
      background-size: contain;
      background-position: center;
      height: 340px;
      align-self: center;
      width: 1000px;
    }
}
//contact
.contact{
    .containCont{
        margin-top: 100px;
        margin-left: $marginInit;
        margin-right: $marginInit;
        .header{
            color: $darkGray;
            font-size: 1.5em;
        }
        .contForm{
            display: flex;
            flex-direction: row;
            form{
                display: flex;
                flex-direction: column;
                flex-basis: 65%;
                padding-right: 20%;
                max-width: 650px;
                .input-subject, .input-email, textarea{
                    margin-top: 20px;
                    border: #aaa 1px solid;
                    padding: 9px 8px 8px 8px;
                    border-radius: 3px;
                }
                textarea{
                  resize: none;
                  height: 125px;
                }
                label{
                    color: $lightGray;
                }
                #submit{
                    width: 150px;
                    text-align: center;
                    background: none;
                    border: solid 1px $lightGray;
                    padding-top: 7px;
                    padding-bottom: 6px;
                    border-radius: 50px;
                    font-size: 1em;
                    text-decoration: none;
                    color: $darkGray;
                    transition-duration: .2s;
                    margin: 0 auto;
                    margin-top: 20px;
                    &:hover{
                        color: white;
                        background: #009daf;
                        border: solid 1px #009daf;
                        cursor: pointer;
                    }
                }
            }
            .contInfo{
                flex-basis: 35%;
                .subhead{
                    color: $darkGray;
                    font-size: 1.2em;
                    font-weight: 900;
                }
                .par{
                    color: $lightGray;
                    margin-top: 10px;
                }
                .socialMedia{
                  a{
                    i{
                      font-size: 1.4em;
                      color: $darkGray;
                      margin-right: 25px;
                      transition-duration: .2s;
                      &:hover{
                        color: #009daf;
                      }
                    }
                  }
                }
            }
        }
    }
}
//footer
footer{
    background: $darkGray;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    p{
        margin: 0;
        color: white;
        font-size: .85em;
        padding: 8px 0px 7px 0px;
    }
}

/////////////////////////////MEDIAQUERIES///////////////////////////////////
/////////////////////////////MEDIAQUERIES///////////////////////////////////
/////////////////////////////MEDIAQUERIES///////////////////////////////////
@media screen and (max-width: 1200px) {
  .caseStudy{
    .labzoneCsPhone{
      right: $marginMob;
      transition-duration: .5s;
    }
  }
  .logo, .mainImg > .tagline{
    left: $marginMob;
    padding-left: 0;
    transition-duration: .5s;
  }
  .aboutUs, .caseStudy > .containCs, .services > .containSer, .contact > .containCont{
    margin-left: $marginMob;
    margin-right: $marginMob;
    transition-duration: .5s;
  }
}
  @media screen and (max-width: 864px) {
    .logo {
      padding: 0;
      margin-top: 18px;
      a{
        .mainLogo{
          margin-top: 8px;
        }
      }
    }
    .nav-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: #fff;
      opacity: 0;
      transition: all 0.2s ease;
      ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
          &:nth-child(1) a {
            transition-delay: 0.2s;
          }
          &:nth-child(2) a {
            transition-delay: 0.3s;
          }
          &:nth-child(3) a {
            transition-delay: 0.4s;
          }
          &:nth-child(4) a {
            transition-delay: 0.5s;
          }
          &:not(:first-child) {
            margin-left: 0;
          }
          a {
            padding: 10px 24px;
            opacity: 0;
            color: $darkGray;
            font-size: .85em;
            transform: translateX(-20px);
            transition: all 0.2s ease;
          }
        }
      }
    }
    .nav-btn {
      position: fixed;
      right: 10px;
      top: 10px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 9999;
      border-radius: 50%;
      i {
        display: block;
        width: 20px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        margin-left: 14px;
        &:nth-child(1) {
          margin-top: 16px;
        }
        &:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
        }
        &:nth-child(3) {
          margin-top: 4px;
        }
      }
    }  
  #navBtn:checked {
    + .nav-btn {
      transform: rotate(45deg);
      i {
        background: #000;
        transition: transform 0.2s ease;
        &:nth-child(1) {
          transform: translateY(6px) rotate(180deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-6px) rotate(90deg);
        }
      }
    }
    ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
      ul li a {
        opacity: 1;
        transform: translateX(0);
      }
    }
  } 
  .hidden {
    display: none;
  }
  //case study
  .caseStudy{
    .containCs{
      .par{
        max-width: 300px;
      }
    }
    .labzoneCsPhone{
      width: 300px;
      right: 0;
      top: 780px;
    }
  }
  //services
  .services{
    .containSer{
      .serFlex{
        .servCluster{
          flex-direction: column;
          .servUnit{
            .subhead{
              margin-bottom: 0;
            }
            .par{
              margin-top: 0;
            }
          }
        }
      }
    }
  }
  //testimonials
  .testimonials{
    height: 300px;
    .testimonialsLogos{
      height: 260px;
    }
  }
}

@media screen and (max-width: 630px) {
  //top img
  .mainImg{
    height: 260px;
    .tagline{
      top: 100px;
      font-size: 1.8em;
    }
  }
  //about us
  .aboutUs{
    margin-top: 40px;
  }
  //case study
  .caseStudy{
    margin-top: 50px;
    height: 230px;
    .containCs{
      .linkCs{
        padding-top: 30px;
      }
      .par{
        max-width: none;
        margin-top: 25px;
        margin-bottom: 40px
      }
    }
    .labzoneCsPhone{
      display: none;
    }
  }
  //services
  .services{
    margin-top: 0;
    .containSer{
      margin-top: 40px;
      .header{
        margin-bottom: 0;
      }
      .serFlex{
        margin-top: 5px;
        .servCluster{
          .servUnit{
            .subhead{
              margin-bottom: 5px;
            }
            .par{
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  //testimonials
  .testimonials{
    height: 240px;
    margin-top: 40px;
  }
  //contact
  .contact{
    .containCont{
      margin-top: 40px;
      .contForm{
        form{
          padding-right: 10%;
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .contact{
    .containCont{
      .header{
        margin-bottom: 0;
      }
      .contForm{
        flex-direction: column;
        form{
          padding-right: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .aboutUs{
    wrapper{
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  //case study
  .caseStudy{
    height: 240px;
    margin-top: 40px;
    .containCs{
      wrapper{
        display: block;
        width: 100%;
        text-align: center;
        .btnCs{
          padding: 6px 34px 6px 34px;
          &:hover{
            padding: 6px 34px 6px 34px;
          }
        }
      }
    }
  }
  //testimonials
  .testimonials{
    height: 380px;
    .testimonialsLogos{
      background: url('imgs/testimonials_logos_m.png')no-repeat;
      background-size: contain;
      background-position: center;
      height: 340px;
      align-self: center;
      width: 520px; 
    }
  }
}

@media screen and (max-width: 420px) {
  .mainImg{
    height: 200px;
    .tagline{
      top: 95px;
      font-size: 1.4em;
    }
  }
  .aboutUs{
    margin-top: 35px;
    .header{
      br{
        display: block;
      }
    }
  }
  .caseStudy{
    margin-top: 30px;
  }
  .services{
    .containSer{
      margin-top: 30px;
    }
  }
  .testimonials{
    margin-top: 35px;
  }
  .contact{
    .containCont{
      margin-top: 30px;
      .contForm{
        .contInfo{
          .subhead{
            margin-top: 40px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 370px) {
  //case study
  .caseStudy{
    height: 250px;
    .containCs{
      .par{
        margin-bottom: 30px;
      }
    }
  }
  //testimonials
  .testimonials{
    height: 340px;
    .testimonialsLogos{
      background: url('imgs/testimonials_logos_m.png')no-repeat;
      background-size: contain;
      background-position: center;
      height: 340px;
      align-self: center;
      width: 1000px; 
    }
  }
}