@import 'mains';

//variables
$darkGray: #393939;
$lightGray: #787878;
$marginInit: 18%;
$marginMob: 4%;

//navbar fix
.origNav{
    top: 0;
}

nav{
    ul{
        li{
            a{
                color: white;
            }
        }
    }
}

//right main img
.mainWrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: $marginInit;
    padding-right: 0;
    height: 100vh;
    .desc{
        flex-basis: 60%;
        align-self: center;
        max-width: 50%;
        align-self: center;
        h1{
            color: $darkGray;
        }
        p{
            color: $lightGray;
            max-width: 500px;
        }
        button{
            background: none;
            border: none;
            outline: none;
            margin-top: 20px;
            &:nth-of-type(2){
                margin-left: 20px;
            }
            &:hover{
                i{
                    color: #aaa;
                    cursor: pointer;
                }
            }
            i{
                transition-duration: .2s;
                font-size: 2em;
                color: $lightGray;
            }
        }
    }
    .imgBg{
        flex-basis: 40%;
        background: linear-gradient(#3f364b,black);
        height: 100vh;
        width: 500px;
        right: 0;
        position: absolute;
        max-width: 500px;
        .imgCage{
            position: absolute;
            width: 500px;
            height: 75vh;
            background: url('imgs/nina/02.jpg')no-repeat;
            transition-duration: .3s;
            background-position: center;
            background-size: cover;
            top: 10%;
            right: 50%;
        }
    }
}